<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
</head>

<body
   style="margin: 0; padding: 0; background-color: #FAF6F3; width: 100%; font-family: 'Arial', 'sans-serif'; overflow-x: hidden;">
   <table
      style="table-layout: fixed; width: 100%; border-collapse: collapse; max-width: 580px; margin: 0 auto; padding: 0; background-color: #fff;"
      cellspacing="0" cellpadding="0" border="0">
      <thead style="background-color: #5a2572; height: 100px;">
         <td style="padding: 40px 36px; text-align: left; width: 100%;">
            <!-- logo -->
            <img width="141" height="20" src="cid:logo.png">
         </td>
      </thead>

      <tbody style="width: 100%;">
         <tr>
            <td style="padding: 24px 36px; text-align: left;">
               <!-- claim -->
               <h1 style='color: #FFFFFF; font-size: 26px; font-weight: bold; line-height: 26px; padding-bottom: 0; margin-bottom: 0;'>Counseling & Help</h1>
               <div style='color: #FFFFFF; font-size: 12px; line-height: 19px;'>Online. Anonymous. Safe.</div>
            </td>
         </tr>

         <tr>
            <td>
               <table style="background-color: #F2F0F9; width: 100%; table-layout: fixed; border-collapse: collapse;">
                  <tr>
                     <td cellspacing="0" cellpadding="0" colspan="2" style="text-align: center; padding: 24px 0 0;">
                        <!-- illustration -->
                        <img width="80" height="80" src="cid:illustration.png">
                     </td>
                  </tr>
                  <tr>
                     <td cellspacing="0" cellpadding="0" colspan="2"
                        style="text-align: left; padding: 36px; color: #3F373F;font-size: 16px; line-height: 24px; font-family: 'Open Sans', 'OpenSans', 'Arial', 'sans-serif';">
                        <!-- message -->
                        <b>Dear <span data-th-text="${name_recipient}"></span>,</b>
                        <br /><br />
                        <span data-th-text="${name_sender}"></span> has assigned a new advice seeker to you.
                     </td>
                  </tr>
                  <tr>
                     <td cellspacing="0" cellpadding="0" colspan="2">
                        <table
                           style="margin: 0 36px 24px; background-color: #F2F0F9; border-collapse: collapse; padding: 0;">
                           <tr style="padding: 0;">
                              <td style="text-align: center; padding: 0;">
                                 <!-- button -->
                                 <div style="background-color: #5a2572; width: 227px; padding: 12px 24px;">
                                    <a data-th-href="${url} + '/login'"
                                       style="color: #fff; text-transform: uppercase; font-weight: bold; text-decoration: none;">View
                                       message</a>
                                 </div>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>

         <tr>
            <!-- legal links -->
            <td style="padding: 24px 36px; text-align: left;">
               <a data-th-href="${urlimpressum}"
                  style="color: #5A2572; text-decoration: none; font-size: 14px; line-height: 20px;">Imprint</a>
               <span style="color: #5A2572; text-decoration: none; font-size: 14px; line-height: 20px;">&nbsp; |
                  &nbsp;</span>
               <a data-th-href="${urldatenschutz}"
                  style="color: #5A2572; text-decoration: none; font-size: 14px; line-height: 20px;">Privacy</a>
            </td>
         </tr>
      </tbody>
   </table>
</body>

</html>